{% extends 'blog/main.html' %}

{% block content %}

    <style>
        .center {
            text-align: center;
        }
    </style>

    <div style="text-align: center">
        <h1>Welcome Back, <a href="{% url 'profile' user.id %}">{{ user.username }}</a>!</h1>
    </div>
    <div style="text-align: center">
        <a href="{% url 'create-blog' %}">Create Blog</a>
        <a href="{% url 'logout' %}">Logout</a>
        <hr>
    </div>
    <br>
    <div>
        {% include 'blog/categories_component.html' %}
    </div>
    <hr>
    <div class="center">
        <h2 class="center">Blog Feed</h2>
        <form method="GET" action="">
            <input name="q" placeholder="Search Blogs">
            <br>
            <br>
            <button type="submit">Search</button>
        </form>
        <br>
    </div>
    {% include 'blog/feed_component.html' %}

{% endblock %}