{% extends 'blog/main.html' %}

{% block content %}
    <h2>Edit your profile</h2>
    <form method="POST" action="" enctype="multipart/form-data"> {# Enctype tells that we are also submitting files with the form #}
        {% csrf_token %}
        {% for i in form %}
            <label>{{ i.name }}: </label>
            {{ i }}
            <br>
        {% endfor %}
        <input type="submit" name="Update" value="Update">
        <a href="{% url 'profile' user.id %}">Cancel</a>
    </form>
{% endblock %}